.link-to-local {
  font-size: 16px;
  font-style: italic;
  padding-left: 10px;
}
html, body {
  margin: 0;
  height: 100%;
}
body {
  background-color: #eeeeee;
}
#ddToOtherDivWrapper {
  position: relative;
  /*min-height: 550px;*/
  /*height: auto;      */
}
#chatDivWrapper {
  position: relative;
  min-height: 550px;
  height: auto;
}
#chatBar {
  position: absolute;
  bottom: 0;
  width: 320px;
  /*left: 0;*/
}
#chatBarText {
  display: table-cell;
  width: 280px;
  /*margin-right: 50px !important;*/
  padding-right: 5px;
}
#chatBarButton {
  display: table-cell;
}
#msgBox {
  background-color: #ffff66;
  height: 490px;
  overflow-y: scroll;
}
.outmost {
  padding-left: 0px;
}
.test {
  /*background-color: #ff0000;*/
  /*background: #ee0000;*/
  padding-left: 0px;
}
